<app-menu></app-menu>
<app-header></app-header>

<!-- Contenido de la aplicación -->
<ion-content [fullscreen]="true" class="ion-padding bg-dark-gray"> 
  <img src="/assets/icon/fondohome.jpg" class="background-image">

  <!-- Botón para agregar productos (solo si es admin) -->
  <ion-fab 
    (click)="addUpdateProduct()" 
    vertical="bottom" 
    horizontal="end" 
    slot="fixed" 
    *ngIf="isAdmin">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Barra de búsqueda con fondo gris oscuro -->
  <ion-searchbar 
    placeholder="Buscar productos..." 
    (ionInput)="onSearch($event)" 
    class="searchbar-dark"></ion-searchbar> 


  <ion-grid class="ion-no-padding">
    <ion-row>
      <!-- Recorre la lista de productos filtrados -->
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let product of filteredProducts">
        <div class="card-container">
          <!-- Tarjeta con fondo gris oscuro -->
          <ion-card (click)="verDetalle(product)" class="bg-dark-gray"> 
            <img class="img" [src]="product.image" />
            <ion-card-content>
              <ion-card-header>
                <ion-card-title class="textwhite">{{ product.name }}</ion-card-title>
              </ion-card-header>
              <ion-card-subtitle>{{ product.descripcion }}</ion-card-subtitle>
              <p>Precio: {{ product.price }}</p>
              <p>Tipo: {{ product.tipo }}</p>
              <p>Capacidad: {{ product.capacidad }}</p>
              <ion-button expand="block" routerLink="/detalle-habitacion">Reservar</ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
